<a href="https://colab.research.google.com/github/valeriich/MLZoomcamp2021/blob/main/homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Question 1
What's the version of NumPy that you installed?

In [ ]:
np.__version__

'1.19.5'

# Question 2
What's the version of Pandas?

In [ ]:
pd.__version__

'1.1.5'

# Getting the data

In [ ]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2021-09-07 08:25:10--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  --.-KB/s    in 0.01s

2021-09-07 08:25:10 (110 MB/s) - ‘data.csv’ saved [1475504/1475504]

In [ ]:
data = pd.read_csv('data.csv')
data.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

# Question 3
What's the average price of BMW cars in the dataset?

In [ ]:
BMW = data['Make'] == 'BMW'
data.loc[BMW, 'MSRP'].mean()

61546.76347305389

In [ ]:
data.groupby(['Make']).agg({'MSRP': np.mean}).loc['BMW']

MSRP    61546.763473
Name: BMW, dtype: float64

# Question 4
Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [ ]:
year2015 = data['Year'] >= 2015
isNAN = data['Engine HP'].isna()
data.loc[year2015 & isNAN].shape[0]

51

In [ ]:
sum(data.loc[year2015 ,'Engine HP'].isna())

51

# Question 5
* Calculate the average "Engine HP" in the dataset.
* Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
* Now, calcualte the average of "Engine HP" again.
* Has it changed?

Round both means before answering this questions. You can use the round function for that:

`print(round(mean_hp_before))`

`print(round(mean_hp_after))`

In [ ]:
mean_hp_before = data['Engine HP'].mean()
print(f'Average Engine HP before fillna(): {round(mean_hp_before)}')
data['Engine HP'].fillna(mean_hp_before)
mean_hp_after = data['Engine HP'].mean()
print(f'Average Engine HP after fillna() with mean: {round(mean_hp_after)}')

Average Engine HP before fillna(): 249
Average Engine HP after fillna() with mean: 249

# Question 6
* Select all the`"Rolls-Royce"` cars from the dataset.
* Select only columns `"Engine HP"`, `"Engine Cylinders"`, `"highway MPG"`.
* Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 7 rows).
* Get the underlying NumPy array. Let's call it `X`.
* Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
* Invert `XTX`.
* What's the sum of all the elements of the result?

> *Hint: if the result is negative, re-read the task one more time*

In [ ]:
Rolls_Royce = data['Make'] == 'Rolls-Royce'
X = data.loc[Rolls_Royce, ["Engine HP", "Engine Cylinders", "highway MPG"]].drop_duplicates().values

In [ ]:
XTX = X.T @ X
np.sum(np.linalg.inv(XTX))

0.032212320677486125

In [ ]:
XTX = np.dot(X.T, X)
np.sum(np.linalg.inv(XTX))

0.032212320677486125

In [ ]:
XTX = X.T.dot(X)
np.sum(np.linalg.inv(XTX))

0.032212320677486125

# Questions 7
* Create an array `y` with values `[1000, 1100, 900, 1200, 1000, 850, 1300]`.
* Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
* What's the value of the first element of `w`?.
> *Note: You just implemented linear regression. We'll talk about it in the next lesson.*

In [ ]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
w = np.linalg.inv(XTX).dot(X.T).dot(y)
w[0]

0.19989598183188978